body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.controller {
    display: inline-grid;
    grid-template-areas:
        ".    up    ."
        "left stop right"
        ".   down   .";
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.controller img {
    width: 40px !important;
    height: 40px !important;
    object-fit: contain;
    cursor: pointer;
    user-select: none;
    display: block;
    padding: 5px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
img.up    { grid-area: up; }
img.down  { grid-area: down; }
img.left  { grid-area: left; }
img.right { grid-area: right; }
img.stop  { grid-area: stop; }
